body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
}

h1:first-of-type {
    margin: 20px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: 500px;
    margin: auto;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="button"] {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    transition: background-color 0.3s ease;;
    width: 80%;
}

input[type="button"]:hover {
    background-color: #0056b3;
    color: azure;
}

.inputLabel {
    text-align: left;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.boxBoy{
    width: 240px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(50px);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(50px);
    }
}

.animateMove {
    animation: moveRightLeft 1.0s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(-10px, 5px) rotate(1deg);
    }
    50% {
        transform: translate(5px, -10px) rotate(-1deg);
    }
    75% {
        transform: translate(-10px, 5px) rotate(1deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
}

#btnSair {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}