* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
body h1 {
    color: red;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}